div#dynamic-container{
      width:400px;
      height:400px; 
      background-color: lightgoldenrodyellow; 
      position:relative; 
      border: 1px solid black;
}

div#innerCircle{
      width: 100px; 
      height: 100px; 
      position: absolute; 
      left: 150px; 
      top:150px; 
      background-color: lightcoral;
      border-radius:190px; 
      -moz-border-radius: 190px; 
      -webkit-border-radius: 190px;
      z-index: 17;
}           

div#marker{
      background: transparent; 
      position:absolute; 
      left:125px; 
      cursor: crosshair;
/*
      -moz-transform:rotate(0deg);
      -moz-transform-origin:50px 200px;
      */
      transform:rotate(0deg);
      transform-origin:75px 200px;                          

      /*-ms-transform:rotate(0deg);
      -ms-transform-origin:50px 200px;                                
      
      -webkit-transform:rotate(0deg);
      -webkit-transform-origin:50px 200px;                       
*/
      z-index:16;

      border-radius-bottom: 50px ;
      border-radius-left;  
} 

div#marker2{
      background: transparent; 
      position:absolute; 
      left:125px; 
      cursor: crosshair;
/*
      -moz-transform:rotate(0deg);
      -moz-transform-origin:50px 200px;
      */
      transform:rotate(90deg);
      transform-origin:75px 200px;                          

      /*-ms-transform:rotate(0deg);
      -ms-transform-origin:50px 200px;                                
      
      -webkit-transform:rotate(0deg);
      -webkit-transform-origin:50px 200px;                       
*/
      z-index:16;

      border-radius-bottom: 50px ;
      border-radius-left;  
} 
