body, html {
      height: 100%;
}


#dynamic-container{
      width:800px;
      height:800px; 
      /*background-color: lightgoldenrodyellow;*/
      background-color: transparent;
      margin: auto;
      margin-top: 15%;
      position:relative; 
      border: 1px solid black;

}

#innerCircle{
      width: 100px; 
      height: 100px;
      position: relative; 
      top: -250px;
      margin: auto; 
      background-color: lightcoral;
      border-radius:190px;

      -moz-border-radius: 190px; 
      -webkit-border-radius: 190px;
      z-index: 17;

      -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      border: 10px solid white;
}           

#marker{
      width: 50%;
      background: lightgreen;   
      /*position:absolute;*/ 
      margin: auto;
      cursor: crosshair;
      pointer-events: none;
/*
      -moz-transform:rotate(0deg);
      -moz-transform-origin:50px 200px;
      */
      transform:rotate(0deg);
      transform-origin:200px 200px;                          

      /*-ms-transform:rotate(0deg);
      -ms-transform-origin:50px 200px;                                
      
      -webkit-transform:rotate(0deg);
      -webkit-transform-origin:50px 200px;                       
*/
      z-index:16;

      /*border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
  */
} 

#footer {
      position: absolute;
      bottom: 0px;
      top: 0px;
      z-index;1;

      margin: auto;
      color: white;
      background-color: white;
      width: 100%;
}

.wing {
      pointer-events: auto;
      stroke: black;
      stroke-width: 5px;
      stroke-linecap: round;
}

.wingRed {
      fill: red;
}

.wingGreen {
      fill: green;
}

.wingBlue {
      fill: blue;
}

.wingYellow {
      fill: yellow;
}

.selected {
      stroke: blue;
      stroke-width: 6px;
}